h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1158;
  padding: 0 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.navi {
  display: flex;
  align-items: center;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}
.navi-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo-link {
  padding: 24px 0;
  margin-right: 76px;
}
.logo-header {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
span.logo {
  color: #2e2f42;
}
.navi-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navi-link:hover,
.navi-link:focus {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-head {
  font-style: normal;
  margin-left: auto;
  align-items: center;
}
.address-link {
  display: block;
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.address-link:hover,
.address-link:focus {
  font-size: 16px;
  font-weight: 400;
  color: #404bbf;
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #404bbf;
}
.firstsec {
  background: #2e2f42;
}
.firstsec-h-one {
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.sec-two-h-three {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-two-p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sec-three {
  background-color: #f4f4fd;
}
.sec-three-h-two {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.sec-three-ul {
  background-color: #ffffff;
}
.sec-three-li {
  color: #2e2f42;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-three-p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
.footer-p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4fd;
  background: #2e2f42;
  letter-spacing: 0.02em;
}
.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: #2e2f42;
}
span.logo-footer {
  color: #f4f4fd;
  background: #2e2f42;
}
.footer {
  background: #2e2f42;
}
